<!doctype html>
<!-- vim: set sw=2 et: -->
<html lang="en">
<head>
<meta charset="utf-8">

<title>Mersenne control panel</title>

<link rel="stylesheet" href="pure-min.css">
<link rel="stylesheet" href="side-menu.css">
<link href="jquery-ui.css" rel="stylesheet">
<script src="jquery-2.1.4.min.js"></script>
<script src="jquery-ui.js"></script>
<script src="jsrender.min.js"></script>
<script src="main.js"></script>


</head>
<body class="pure-skin-mersenne">

<div id="layout">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span>XXX</span>
  </a>

  <div id="menu">
    <div class="pure-menu">
      <a class="pure-menu-heading" href="#">Mersenne</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item" id="li_overall_status"
        onclick="me.open_status()">
        <a href="#" class="pure-menu-link">Status</a>
        </li>
        <li class="pure-menu-item" id="li_config"
        onclick="me.open_config()">
        <a href="#" class="pure-menu-link">Config</a>
        </li>
        <li class="pure-menu-item" id="li_learner"
        onclick="me.open_learner()">
        <a href="#" class="pure-menu-link">Learner</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="main">
    <div class="header">
      <h1 id="main_header">Mersenne control panel</h1>
      <h2 id="main_header_descr">Welcome to mersenne control panel</h2>
    </div>

    <div id="content" class="content">
    </div>
  </div>
</div>

<script id="overall_status_template" type="text/x-jsrender">
  <div class="pure-g">
    <div class="pure-u-1-3" style="text-align: left;">IP address</div>
    <div class="pure-u-1-3" style="text-align: center;">:</div>
    <div class="pure-u-1-3" style="text-align: right;">{{:ip}}</div>

    <div class="pure-u-1-3" style="text-align: left;">Peer index</div>
    <div class="pure-u-1-3" style="text-align: center;">:</div>
    <div class="pure-u-1-3" style="text-align: right;">{{:peer_num}}</div>
  </div>
</script>

<script id="config_template" type="text/x-jsrender">
  <table class="pure-table">
    <thead>
      <tr>
          <th>Option</th>
          <th>Value</th>
      </tr>
    </thead>

    <tbody>
      {{for options}}
        <tr>
            <td>{{:name}}</td>
            <td>{{:value}}</td>
        </tr>
      {{/for}}
    </tbody>
  </table>
</script>

<script id="learner_template" type="text/x-jsrender">
  <h3>State numbers</h3>
  <div class="pure-g">
    <div class="pure-u-1-3" style="text-align: left;">first_non_delivered</div>
    <div class="pure-u-1-3" style="text-align: center;">:</div>
    <div class="pure-u-1-3" style="text-align: right;">{{:first_non_delivered}}</div>

    <div class="pure-u-1-3" style="text-align: left;">highest_seen</div>
    <div class="pure-u-1-3" style="text-align: center;">:</div>
    <div class="pure-u-1-3" style="text-align: right;">{{:highest_seen}}</div>

    <div class="pure-u-1-3" style="text-align: left;">next_retransmit</div>
    <div class="pure-u-1-3" style="text-align: center;">:</div>
    <div class="pure-u-1-3" style="text-align: right;">{{:next_retransmit}}</div>

    <div class="pure-u-1-3" style="text-align: left;">acs_highest_finalized</div>
    <div class="pure-u-1-3" style="text-align: center;">:</div>
    <div class="pure-u-1-3" style="text-align: right;">{{:acs_highest_finalized}}</div>
  </div>

  <h3>Window</h3>
  <table class="pure-table">
    <thead>
      <tr>
          <th>#</th>
          <th>iid</th>
          <th>Closed?</th>
          <th>Acks</th>
          <th>#Acks</th>
          <th>Majority?</th>
          <th>Modified</th>
      </tr>
    </thead>

    <tbody>
      {{for window}}
        <tr>
            <td>{{:index}}</td>
            <td>{{:iid}}</td>
            <td>{{:closed}}</td>
            <td>
              {{for acks}}
                {{if has_value}}
                  <span class="ui-icon ui-icon-circle-check"
                    style="float: left;"
                    title="index: {{:index}}, ballot: {{:ballot}}"></span>
                {{else}}
                  <span class="ui-icon ui-icon-circle-close"
                    style="float: left;"
                    title="index: {{:index}}"></span>
                {{/if}}
              {{/for}}
            </td>
            <td>{{:n_acks}}</td>
            <td>{{:is_majority}}</td>
            <td>
              {{if aged}}
                <span style="color: red;">{{:modified}}</span>
              {{else}}
                <span style="color: green;">{{:modified}}</span>
              {{/if}}
            </td>
        </tr>
      {{/for}}
    </tbody>
  </table>

  <h3>Local learners</h3>
  <div id="tabs">
    <ul>
      {{for local_learners}}
        <li><a href="#tabs-{{:index}}">{{:fiber_name}}</a></li>
      {{/for}}
    </ul>
    {{for local_learners}}
      <div id="tabs-{{:index}}">
        <div class="pure-g">
          <div class="pure-u-1-3" style="text-align: left;">Current iid</div>
          <div class="pure-u-1-3" style="text-align: center;">:</div>
          <div class="pure-u-1-3" style="text-align: right;">{{:iid}}</div>

          <div class="pure-u-1-3" style="text-align: left;">Status</div>
          <div class="pure-u-1-3" style="text-align: center;">:</div>
          <div class="pure-u-1-3" style="text-align: right;">{{:state}}</div>
        </div>
      </div>
    {{/for}}
  </div>
</script>

<script id="error_template" type="text/x-jsrender">
  <div class="ui-widget">
    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
      <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
      <strong>Error:</strong> {{:message}}</p>
    </div>
  </div>
</script>

<script id="loading_template" type="text/x-jsrender">
  <div id="loader" style="line-height: 115px; text-align: center;">
    <img alt="activity indicator" src="images/loading.gif">
  </div>
</script>

</body>
</html>
